<!-- <mat-tab-group>
  <mat-tab label="Предстоящие поездки">
    <app-upcomig-journeys></app-upcomig-journeys>
  </mat-tab>
  <mat-tab label="Совершенные поездки">
    <app-completed-journeys></app-completed-journeys>
  </mat-tab>

</mat-tab-group> -->

<mat-button-toggle-group>
    <mat-button-toggle checked=true value='profile' (click)='showMyProfile()'>
        Профиль
    </mat-button-toggle>
    <mat-button-toggle value="completed" (click)="showJourneys('completed')">
        Совершенные поездки
    </mat-button-toggle>
    <mat-button-toggle value="upcoming" (click)="showJourneys('upcoming')">
        Предстоящие поездки
    </mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf='upcoming'>
    <app-upcomig-journeys></app-upcomig-journeys>
</div>
<div *ngIf='completed'>
    <app-completed-journeys></app-completed-journeys>
</div>
<div *ngIf='profile'>
    <app-user-profile [editProfile]='true' (showEditForm)='showJourneys($event)'></app-user-profile>
</div>
<div *ngIf='edit'>
   <form (ngSubmit)='saveMyInfo(profileGroup.value)' [formGroup]="profileGroup" class='login'>
        <div class="example-container">
            	<mat-form-field>
                        <mat-select placeholder="Gender" formControlName='gender'>
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{ gender.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Имя" formControlName='name'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Фамилия" formControlName='surname'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Эл. почта" formControlName='email'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ссылки на соц.сети" formControlName='social'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Телефон" formControlName='phone'>
            </mat-form-field>
            <mat-form-field>
					<mat-select placeholder="Birthday" formControlName='birthday'>
						<mat-option *ngFor="let year of years" [value]="year">
							{{ year}}
						</mat-option>
					</mat-select>
				</mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Краткая информация" formControlName='info'></textarea>
            </mat-form-field>
        </div>
        <div class="btn">
            <button type='submit' mat-raised-button color='primary' >Сохранить</button>
        </div>
    </form>
</div>

<div  *ngIf='editAuto'>
    <form (ngSubmit)='saveMyAuto(autoGroup.value)' [formGroup]="autoGroup" class='login'>
        <div class="example-container">
            
            <mat-form-field>
                <input matInput placeholder="Год" formControlName='year'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Марка" formControlName='mark'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Модель" formControlName='model'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Номерной знак" formControlName='numberplate'>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Тип авто" formControlName='typeauto'>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='color' placeholder="Цвет" formControlName='color'>
            </mat-form-field>
         
        </div>
        <div class="btn">
            <button type='submit' mat-raised-button color='primary' >Сохранить</button>
        </div>
    </form>
</div>
 

