.register {
    width: 500px;
    margin: 30px auto;
}

.register-content {
    text-align: center;
}

p>mat-form-field {
    display: block;
    position: relative;
    text-align: left;
    width: 90%;
    margin: auto;
}

.btn {
    text-align: center;
}

.btn>button {
    width: 70%;
}