<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-app-background basic-container">
    <app-menu></app-menu>
    <ng-progress [color]="'white'"></ng-progress>
    <router-outlet></router-outlet>
</div>